@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
.header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: midnightblue;
    align-items: center;
}
.tag:hover{
    color: rgb(205, 124, 205);
}
.tag{
    color: white;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 32px;
}
main{
    margin: 40px 40px;
}
main>p{
    font-size: 22px;
}
table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
    /* border-spacing: 100px; */
    /* margin-left: -200px; */
}
tr{
    border-bottom: 1px solid rgb(177, 177, 177);
    height: 65px;
}
td{
    font-size: 20px;
    padding: 0px 20px;
    text-align: right;
}
tr>td:first-child{
    text-align: left;
}
tr:last-child{
    border: none;
}

#Caption{
    display: flex;
    justify-content: space-between;
}
#AddNew{
    cursor: pointer;
    font-size: 25px;
    border: 1px solid black;
    height: 60px;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(215, 222, 223);
}